$neo-blue: #ffb84c;

.navbar {
  padding: 0.8rem;
  font-family: "Barlow";
  font-size: 1.4rem;
  border-bottom: 2px solid $neo-blue;
  display: flex;
  justify-content: center;
  align-items: center;
  img {
    width: 60px;
  }
  li {
    list-style-type: none;
  }
  .navbar-link-active {
    color: $neo-blue;
    text-decoration: none;
    font-weight: bold;
    border-bottom: solid 5px $neo-blue;
    padding: 5px;
  }
  .navbar-link-unactive {
    color: white;
    text-decoration: none;
    &:hover {
      padding: 8px;
      border-radius: 8px;
      box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    }
  }
  .logout-button {
    font-size: 1.4rem;
    font-weight: bold;
    color: white;
    background-color: #404258;
    border: 4px solid $neo-blue;
    border-radius: 8px;
    &:hover {
      border: 4px solid darken($neo-blue, 18%);
      background-color: darken(#404258, 10%);
    }
  }

  &_links {
    color: white;
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 3rem;
  }
  .hamburger-menu {
    display: none;
    cursor: pointer;
    color: white;
  }
  .mobile-navbar-links {
    display: none;
  }
  @media only screen and (max-width: 768px) {
    &_links {
      display: none;
    }

    .hamburger-menu {
      font-size: 3rem;
      color: $neo-blue;
      display: flex;
      justify-content: flex-end;
    }
    .mobile-navbar-links {
      display: flex;
      flex-direction: column;
      background-color: #404258;
      position: absolute;
      top: 60px;
      left: 0;
      width: 100%;
      padding: 0;
      margin: 0;
      li {
        list-style-type: none;
        text-align: center;
        margin: 0;
        padding: 1rem 0;
        border-bottom: 1px solid rgba(255, 255, 255, 0.3);
      }
    }
  }
}
@media only screen and (max-width: 768px) {
  .navbar {
    display: flex;
    justify-content: space-around;
  }
}
