$neo-blue: #ffb84c;

.navbar {
  padding: 0.8rem;
  font-family: "Barlow";
  font-size: 1.4rem;
  border-bottom: 2px solid $neo-blue;
  // display: flex;
  // justify-content: center;
  // align-items: center;
  display: grid;
  grid-template-columns: 1fr 12fr 1fr;
  align-items: center;
  img {
    width: 60px;
  }
  &-link-active {
    color: $neo-blue;
    text-decoration: none;
    font-weight: bold;
    border-bottom: solid 5px $neo-blue;
    padding: 5px;
  }
  &-link-unactive {
    color: white;
    text-decoration: none;
    &:hover {
      padding: 8px;
      border-radius: 8px;
      box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    }
  }
  &_links {
    color: white;
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 3rem;
  }
}
