$main-color: #ffb84c;
$bg-color: #404258;

@mixin buttonDefault($bg-color) {
  font-family: "Roboto";
  font-size: 1rem;
  background-color: $bg-color;
  border: none;
  border-radius: 8px;
  color: white;
  font-weight: bold;
  div {
    display: flex;
    align-items: center;
    gap: 0.4rem;
  }
  &:hover,
  &:active {
    background-color: lighten($color: $bg-color, $amount: 20);
    color: black;
  }
}

.question-card {
  display: flex;
  justify-content: center;

  padding: 1rem;
  &_card {
    display: flex;
    flex-direction: column;
    gap: 0.6rem;
    padding: 8px;
    border: 4px solid #ffb84c;
    border-radius: 8px;
    &_question {
      font-size: 1.3rem;
      color: white;
    }

    &_button {
      @media only screen and (max-width: 365px) {
        display: grid;
        div {
          display: flex;
          align-items: center;
          justify-content: space-between;
        }
      }
      display: flex;
      justify-content: center;
      gap: 1rem;
      &_hint {
        @include buttonDefault(#3a98b9);
      }
      &_check {
        @include buttonDefault(#5d9c59);
      }
      &_answer {
        @include buttonDefault(#ff6464);
      }
    }
    &_hidden {
      &_hint {
        width: fit-content;
        margin-left: auto;
        margin-right: auto;
        padding: 5px 15px 5px 15px;
        border: 1px solid #3a98b9;
        border-radius: 8px;
        color: white;
      }
      &_answer {
        width: fit-content;
        margin-left: auto;
        margin-right: auto;
        padding: 5px 15px 5px 15px;
        border: 1px solid #ff6464;
        border-radius: 8px;
        color: white;
      }
    }
    .good-answer {
      color: #5d9c59;
    }
    .wrong-answer {
      color: #ff6464;
    }
    &_input {
      display: grid;
      input {
        @media only screen and (max-width: 365px) {
          font-size: 1rem;
        }
        background-color: darken(white, 12%);
        text-decoration: none;
        border: solid 2px $main-color;
        border-radius: 22px;
        padding-left: 8px;
        font-family: "Roboto";
        font-size: 1.4rem;
        &:focus {
          outline: none !important;
          color: black;
        }
      }
    }
  }
}
.hide-cotent {
  display: none;
}
.disabled-button {
  font-family: "Roboto";
  font-size: 1rem;
  background-color: lighten($color: $bg-color, $amount: 40);
  border: none;
  border-radius: 8px;
  color: white;
  font-weight: bold;
  div {
    display: flex;
    align-items: center;
    gap: 0.4rem;
  }
}
