$neo-blue: #ffb84c;

h1 {
  font-family: "Roboto";
  color: white;
}

.exotocreate {
  display: flex;
  justify-content: center;
  &_list-exo {
    border: solid 4px $neo-blue;
    border-radius: 8px;
    padding: 12px;
    margin-top: 25px;
    display: flex;
    flex-direction: column;
    gap: 12px;
    font-family: "Roboto";
    font-size: 18px;
    p {
      color: darken($color: white, $amount: 30%);
      font-size: 14px;
    }
    span {
      color: $neo-blue;
    }
    h3 {
      color: white;
      text-decoration: none;
    }
    &-link {
      text-decoration: none;
      text-align: start;
      display: grid;
      grid-template-columns: 4fr 1fr;
      list-style: none;
      gap: 50px;
    }
  }
  li {
    text-align: start;
    display: grid;
    grid-template-columns: 4fr 1fr;
    list-style: none;
    gap: 50px;
  }
}
