$main-color: #ffb84c;
$bg-color: #404258;

.question-creator {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  &_qzone {
    border: solid 4px $main-color;
    border-radius: 8px;
    padding: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    h3,
    h2 {
      color: white;
    }

    &_button-zone {
      display: flex;
      gap: 15px;
    }

    input {
      background-color: darken(white, 12%);
      text-decoration: none;
      border: solid 2px $main-color;
      border-radius: 22px;
      padding: 8px;
      font-family: "Roboto";
      font-size: 22px;
      &:focus {
        outline: none !important;
        color: black;
      }
    }
    .subq-button {
      display: flex;
      align-items: center;
      gap: 6px;
      padding: 8px;
      font-family: "Roboto";
      font-size: 22px;
      color: white;
      background-color: #404258;
      border: solid 4px $main-color;

      border-radius: 25px;
    }
    .cancel-button {
      text-decoration: none;
      display: flex;
      align-items: center;
      gap: 6px;
      padding: 8px;
      font-family: "Roboto";
      font-size: 22px;
      color: white;
      border: solid 4px $main-color;
      border-radius: 25px;
      background-color: transparentize(#ea5455, 0.4);
    }
  }
}
